<html>
<head>
  <title>SplitWise</title>

</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" id="title-tag" href="#">SPLITWISE</a>
      </div>
     
    </div>
  </nav>

  <div style="height:50px;width:100%"></div>
  <div class="login-form-container">
    <h3 class="login-txt">Account Settings</h3>

    <form #f="ngForm" (ngSubmit)="settings()" style="padding:0 10%">

      <div class="error" *ngIf="name.touched && !name.valid">*Name is Required!</div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </div>
          <input class="form-control" id="name" name="name" type="text" placeholder="Enter your Name" [(ngModel)]="user.u_Name" required #name="ngModel" />
        </div>
      </div>

      <div class="error" *ngIf="email.touched && !email.valid">*Email is Required!</div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-envelope"></span>
          </div>
          <input class="form-control" id="email" name="email" type="email" placeholder="Enter your Email" [(ngModel)]="user.u_Email" required #email="ngModel" />
        </div>
      </div>
      <input name="password" type="hidden"[(ngModel)]="user.u_Password"/>
      <div class="form-group">
        <div class="input-group">
          <a class="edit-pwd" data-toggle="collapse" data-target="#pwd">
            Edit Password<span class="glyphicon glyphicon-pencil"></span>
          </a>
        </div>
      </div>

      <div id="pwd" class="collapse">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-pencil"></span>
            </div>
            <input class="form-control" name="passwordo" type="password" placeholder="Current Password" [(ngModel)]="oldpwd"  #passwordo="ngModel" />
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-pencil"></span>
            </div>
            <input class="form-control" name="passwordn" type="password" placeholder="New Password" [(ngModel)]="newpwd"  #passwordn="ngModel" />
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <input type="submit" id="login-btn" class="btn btn-primary" value="Save Changes" />
          <input type="button" id="cancel-btn" [routerLink]='["../../home/",uid]' class="btn btn-primary" value="Cancel" />
        </div>
      </div>
    </form>
  </div>

</body>
</html>
