<body *ngIf="settle&&group">
  <div class="row" style="display: flex;background-color: #E2E0E4;">
    <div class="col-sm-9 nav-body">
      <div style="height:50px;width:100%"></div>
      <nav class="navbar navbar-default title-bar">
        <div class="navbar-header ">
          <div class="navbar-brand grp-title">{{group.gi_Name}}</div>
        </div>
        <button type="button" class="btn btn-default" id="add-bill-btn" (click)="AddBill()" data-toggle="modal" data-target="#AddBillGroup">Add Bill</button>
        <button type="button" class="btn btn-default" id="settle-btn" (click)="GetSettle()" data-toggle="modal" data-target="#SettlementGroup">Settle up</button>
      </nav>
      <div class="month-div">
        <span>{{group.gi_Date |  date: 'dd MMMM, yyyy'}}</span>
      </div>
      <div style="height:20px;width:100%"></div>

      <ul class="list-group list-group-flush" *ngIf="group.gi_Bills.length>0">
        <li class="list-group-item trans" *ngFor="let b of group.gi_Bills">
          <input type="hidden" value="{{b.bI_Id}}" name="bid" #bid />
          <span class="badge"> {{b.bI_Date|date:'dd'}}<br />{{b.bI_Date|date:'LLL'}}</span>
          <a class="menu-content gb-name" (click)="BillInfo(bid)" data-toggle="collapse" href="#{{b.bI_Id}}">
            {{b.bI_Name}}
          </a>
          <span class="b-amount">Amount: {{b.bI_Amount | currency:'INR'}}</span>
          <!--Bill Information-->
          <div id="{{b.bI_Id}}" class="collapse">
            <div class="container">
              <ul>
                <li> {{b.bI_PaidBy}} paid {{b.bI_Amount | currency:'INR'}} and owes {{(b.bI_Amount/group.gi_Members.length)| currency:'INR'}} </li>
              </ul>
              <ul *ngFor="let m of group.gi_Members">
                <li *ngIf="m!=b.bI_PaidBy">
                  {{m}} owes {{(b.bI_Amount/group.gi_Members.length)| currency:'INR'}}
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>

    </div>
    <div class="col-sm-3 left-panel">
      <div style="height:50px;width:100%"></div>
      <button type="button" class="btn btn-default" id="setting-btn" title="Group Setting" [routerLink]='["../../../../"+uid+"/groups/"+gid+"/edit"]'>
        <span class="glyphicon glyphicon-cog"></span>
      </button>

      <div class="container grp-mem">
        <h4>Group Members</h4>
        <div *ngFor="let gm of group.gi_Members">
          <span class='glyphicon glyphicon-user'></span>
          {{gm}} <i class="fa fa-close cross" title="Remove member!"></i>
          <div *ngFor="let set of settle">
            <div *ngIf="gm===set.gs_PayerName">
              <div *ngIf="set.gs_Amount>0" style="color:green;margin-left:20px;">gets back {{set.gs_Amount | currency:'INR'}}</div>
              <div *ngIf="set.gs_Amount<0" style="color:red; margin-left:20px;">owes {{set.gs_Amount*(-1) | currency:'INR'}}</div>
              <div *ngIf="set.gs_Amount==0" style="color:dimgrey; margin-left:20px;">Settled up</div>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>
</body>
